.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 150;
  gap: 56px;
}

.menuIcon {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;

  div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.open div:nth-child(2) {
  opacity: 0;
}
.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.show {
  display: block;
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .rightside {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    width: 250px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .show {
    transform: translateX(0);
  }
}

.themes {
  display: flex;
  flex-direction: column;
  gap: 56px;
  h5 {
    font-size: 26px;
    font-family: Montserrat;
  }
}

.logo {
  z-index: 1000;
}

.hr {
  width: 100%;
}
