.container {
  background: #07a7b3;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999999;
  padding-bottom: 8px;
  padding-top: 12px;
  font-size: 14px;
}

.contentCookiesDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 190px;

  p {
    min-width: 100%;
    font-size: 14px;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  img {
    width: 35px;
    margin-right: 20px;
  }

  button {
    min-width: 180px;
    padding-block: 6px;
    background: #fff;
    color: #07a7b3;
    border-radius: 5px;
    border: none;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.contentCookiesMobile {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-block: 25px;

  @media only screen and (min-width: 767px) {
    display: none;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  img {
    width: 28px;
    height: 28px;
    display: inline;
    margin-bottom: -10px;
    margin-right: 8px;
  }

  a {
    color: #fff;
  }

  button {
    min-width: 180px;
    padding-block: 6px;
    background: #fff;
    color: #07a7b3;
    border-radius: 5px;
    border: none;
  }
}
