.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-slide.swiper-slide-prev {
  transform: translateX(15%);
}
.swiper-slide.swiper-slide-next {
  transform: translateX(-15%);
}
