.container {
  background: #07a7b3;
}

.content {
  display: flex;
  justify-content: space-around;
  padding-inline: 42px;
  padding-block: 20px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-inline: 20px;
    gap: 34px;
    text-align: center;
  }
}

.leftside {
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
}
