.header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  .themes {
    display: flex;
    gap: 43px;
    h5 {
      color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      cursor: pointer;
    }
    .hr {
      opacity: 0.3;
      background: #fff;
      margin-inline: 54px;
      width: 2px;
      height: 60px;
    }
  }
  .buttons {
    .enter {
      background: none;
      color: #fff;
      border: none;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      cursor: pointer;
    }

    .create {
      border-radius: 76px;

      border: 1px solid #fff;
      color: #fff;
      background: none;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      padding-block: 16px;
      padding-inline: 60px;
      cursor: pointer;
    }
  }
  &.fixed {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    h5 {
      color: #000;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      cursor: pointer;
    }
    .hr {
      opacity: 0.3;
      background: #000;
      margin-inline: 54px;
      width: 2px;
      height: 60px;
    }
    .enter {
      background: none;
      color: #000;
      border: none;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      cursor: pointer;
    }

    .create {
      border-radius: 76px;

      border: 1px solid #000;
      color: #000;
      background: none;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      padding-block: 16px;
      padding-inline: 60px;
      cursor: pointer;
    }
  }
}

.content {
  display: flex;
  padding-block: 10px;
  padding-inline: 40px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.rightside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.themes {
  display: flex;
  gap: 43px;
  h5 {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
  }
}

.hr {
  opacity: 0.3;
  background: #000;
  margin-inline: 54px;
  width: 2px;
  height: 60px;
}

.buttons {
  display: flex;
  gap: 54px;

  .enter {
    background: none;
    color: #000;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
  }

  .create {
    border-radius: 76px;

    border: 1px solid #000;
    color: #000;
    background: none;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding-block: 16px;
    padding-inline: 60px;
    cursor: pointer;
  }
}
